@font-face {
	font-family: 'snekregular';
	src: url('fonts/snek-regular-2-webfont.woff2') format('woff2'),
             url('fonts/snek-regular-2-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	background-color: rgb(153, 255, 153);
}

html {
	font-family: 'snekregular', cursive;
	background-color: rgb(153, 255, 153);
}

h1 {
	font-size: 50px;
}

p {
	font-size: 25px;
}
